.App{
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  min-height: 100vh;

  display: flex;
  align-items: center;
}

.App .carousel {
  cursor: grab;
  overflow: hidden;
}

.App .carousel .inner{
  display: flex;  
}

.App .carousel .inner .item .img{
  
  max-height: 300px;
  padding: 12px;

  border-radius: 20px;
  pointer-events: none;
}